* {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
  --third-color: #1a252f;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  
  --input-group-addon-color: black !important;
  --input-border-color: black !important;
  --input-group-addon-border-color: black !important;

  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.bg-first {
  background-color: var(--main-color) !important;
}

.bg-second {
  background-color: var(--second-color) !important;
}

.bg-third {
  background-color: var(--third-color) !important;
}

.skip-nav {
  padding-top: 100px;
}

body {
  /* padding-top: 97px; */
}

.transition {
  transition: all 0.5s ease;
}
/* 
.container {
  max-width: 1140px;
} */

/* Navbar */

.navbar-brand {
  font-weight: 800;
  font-size: 26px;
}

.nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.87) !important;
  margin-right: 15px;
  border-radius: 10px;
  /* text-transform: uppercase; */
}

.active {
  border-radius: 10px;
  background-color: var(--main-color);
}

/* Footer */
.social-icons a:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0) !important;
  transition: all 0.3s ease;
}
.social-icons a:hover i {
  color: var(--second-color) !important;
}

/* Portfolio Item */
.portfolio-item .overlay {
  opacity: 0;
  cursor: pointer;
}
.portfolio-item .overlay:hover {
  opacity: 0.9;
}


/* Contact */

.contact-input input{
  border: transparent;
  border-bottom: solid 1px rgba(0, 0, 0, 0.171) !important;
  border-radius: 0px;
}

.contact-input input:focus{
  box-shadow: none;
}